      - name: Run Poshmark scraper
        env:
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          FROM_EMAIL: ${{ secrets.FROM_EMAIL }}
          SCRAPER_API_KEY: ${{ secrets.SCRAPER_API_KEY }}
        run: python scraper.py
